:root


body{
margin-left: 2em;
max-width: 30em;
font-family: 'IBM Plex Sans', sans-serif;

}

header{
display: flex;
flex-direction: row;
margin-bottom: 2em;
}

.logo{
    height: 4.5em;
}

.hamburger_placeholder{
    height:2.5em;
    margin-left: 20em;
    margin-top: 0.9em;
}



.digital_natives{
    height: 4em;
    margin-bottom: 1em;
}

.text{
    opacity: 1;
    font-size: 19px;
    margin-bottom: 2em;
}
    /* transition: all 1s;
    transform: translateZ(-100%);
    filter: blur(3px); 
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
} */


.group_img{
  height: 18em;
  width: 27em;
  border-radius: 0.3em;
  margin-bottom: 3em;
}

.team_container{
    display: grid;

} 

.team_members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team_member_card{
    margin-right: 1.3em;
    height: 20em;
    width: 11.2em;
    margin-bottom: 2em;
}


.team_member_img{
    height: 17em;
    border-radius: 0.3em;
}

.member_name{
    font-size: 16px;
}

.member_job{
    font-size: 14px;
    margin-bottom: 2em;
    margin-top: 0.5em;
    color: rgb(139, 144, 145);
}

.grey{
    color: rgb(122, 126, 126);
}

.display_imgs{
    height: 20em;
}

footer{

}
