
:root


body {
    font-family: 'Gill Sans', 'Gill Sans MT';
}

header {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    justify-content: space-between;
    /* position: fixed; */
}


.logo {
    height: 4.5rem;
}

.hamburger-placeholder {
    height: 2.1rem;
    margin-top: 1.5em; 
   
}


.digital-natives {
    height: 3.7rem;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 10%;
}

main{
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
}
.text {
    font-size: 20px;
    margin-bottom: 2em;
    width: 80%;

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text2 {
    opacity: 1;
    font-size: 20px;
    margin-bottom: 2em;
    transition: all 360ms ease-out;
    transition: transform 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transform: translateY(100%);
    width: 70%;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


.group-img {
    height: 18rem;
    width: auto;
    max-width: 100%;
    border-radius: 0.3em;
    margin-bottom: 1em;
}


main{
    align-items: center;
}

.team-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.team-members {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;

}

/* als er 2 kolommen kunnne
dan krijgen de cards width: 50%
*/

/* als er 3 kolommen kunnne
dan krijgen de cards width:30%
*/

.team-member-card{
    width: 12rem;
    overflow: hidden;
}

.team-member-img {
    height: 15rem;
    width: auto;
    border-radius: 0.3em;
    position: relative;
}

.team-join-img {
    height: 20em;
    width: 15em;
    border-radius: 0.3em;
    position: relative;
}

#video {
        height: 30em;
        width: 27em;
        border-radius: 0.3em;
        position: relative;
}

canvas[data-hidden=true] {
    display: none;
}



.member-name {
    font-size: 20px;
}

.member-job {
    font-size: 14px;
    margin-bottom: 2em;
    margin-top: 0.5em;
    color: rgb(139, 144, 145);
}

.grey {
    color: rgb(122, 126, 126);
}

.display-imgs {
    height: 20rem;
    width: auto;
}


.news-list {
    display: flex;
    flex-direction: column;
    width: 20em;
    list-style: none;
}

.li-news {
    display: flex;
    flex-direction: row;
}

.li-news a {
    text-decoration: none;
}

.img-links {
    height: 10em;
    width: auto;
}



.contact-informations {
    background-color: rgb(255, 255, 112);
    height: 18em;
    margin-bottom: 6em;
    margin-top: 2em;
    height: 15rem;
    width: auto;
}


